/* Color Palette */
:root {
  --buff: #cb997eff;
  --desert-sand: #ddbea9ff;
  --champagne-pink: #ffe8d6ff;
  --ash-gray: #b7b7a4ff;
  --sage: #a5a58dff;
  --reseda-green: #6b705cff;
  }
  
  /* <--- Defaults ---> */
  html { scroll-behavior: smooth;}
  
  body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.6;
    letter-spacing: 0;
    color: black;
    margin: 0;
    padding: 0;
  }
  
  *,
  ::after,
  ::before {
    box-sizing: border-box;
  }
  
  p { margin-top: 0; }
  
  h3 {
    font-weight: 600;
    line-height: 1.2;
  }
  
  img {
    width: 100%;
    max-width: 100%;
    vertical-align: middle;
    border-style: none;
  }
  
  .container {
    width: 100%;
    text-align: center;
  }